*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

  body{
    background-image: url(../images/crea/torre.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .titulos{
    margin-top: 8%;
  }

  body{
    background-image: url(../images/crea/torre.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h1{
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Alegreya', serif;
    padding: 0;
  }
  h3{
    color: white;
    text-align: center;
    padding:0;
    font-family: 'Alegreya', serif;
  }
  h3{
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    padding:0;
    font-family: 'Alegreya', serif;
  }

  .titulos2 {
    justify-content: center;
    position: absolute;
    top: 33%;
  }

  .wrap{
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
  }

ul.tabs{
  width: 100%;
  background-color:rgba(0,0,0,0.25);
  list-style: none;
  display: flex;

}

ul.tabs li{
  width: 25%;
  padding: 20px;
}

ul.tabs li a{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 20px;
}

ul.tabs li a .tab-text{
  margin-left: 8px;
}

.form-check-label{
  padding: 0;
}
.active{
  background-color:rgba(0,0,0,0.25);
  border-bottom: 3px solid #fff;
}

.secciones{
  width: 100%;
  background-color:rgba(0,0,0,0.25);
 color: white;
}

.secciones article{
  padding: 30px;
  background-color:rgba(8, 2, 8, 0.52);
}
.destinos-container-fluid{
  flex-wrap: wrap;
}
.container-fluid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}
.destinos-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(8, 2, 8, 0.52)
}

.destinos ul{
  display: flex;

}
.destinos-top ul li{
  display: inline-flex;
}

.destinos-top h2{
  color: white;
}

img{
  border-radius: 50%;
  background-color: rgba(0,0,0,0.25);
}

.fechas-por-destino{
  margin-top: 2%;
  display: inline-flex;
}
@media screen and (max-width: 700px){
  ul.tabs li{
    width:none;
    flex-basis:0;
    flex-grow:1;
  }

@media screen and (max-width: 450px){
  ul.tabs li a{
    padding: 15px 0px;
  }
  ul.tabs li a{
    display: none;
  }
  .tabs-container article{
    padding: 20px;
  }
}
